$z-button-height: 32px;

$z-font-size: 14px;
$z-font-size--small: 12px;

$z-border-radius: 4px;

$z-color-gray1: #333333;
// lighten:
$z-color-gray2: #666666;

$z-color-blue1: #4a90e2;

$z-bg-white1: white;
$z-bg-white--active1: #eeeeee;

$z-border-gray1: #999999;
$z-border-gray--light: lighten($z-border-gray1, 30%);
$z-border-gray--hover1: #666666;

$z-border-blue1: #4a90e2;

%z-box-shadow1 {
  // 还没有调到合适的颜色：
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
%z-box-shadow--focus1 {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

@keyframes z-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
